body {
	background: #EEEEEE;
	font-family: sans-serif;
}

article {
	text-align: center;
}

canvas {
	display: block;
	border-radius: 100%;
	margin: 0 auto;
	max-width: 100%;
	background: white;
	transition: box-shadow 0.3s linear;
}

canvas.live {
	transition: box-shadow 0.1s linear;
	box-shadow: 0 0 0 3px #FF8000;
}

input[type=range] {
	width: 300px;
	vertical-align: middle;
}
